body {
font-family: "Roboto", sans-serif;
font-style: normal;
font-size: 16;
line-height: 24px;
color: rgb(255, 255, 255);
background: url("../img/zadnik.png") no-repeat;
background-position: top;
background-attachment: fixed;
padding: 0;
margin: 0;
}

.page-header {
	width: 1000px;
	display: flex;
	margin: 0 auto;
  padding: 20px 55px;
	margin-bottom: 40px;
  background-color: #7e296eea;
}

.main-nav {
display: flex;
}

.logo {
  margin: 0;
  width: 70px;
  height: 110px;
  margin-right: 471px;
}

.site-navigation {
  width: 420px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation-item a {
  color: inherit;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  color: white;
  background-color: #4a3506;
}

.site-navigation-item {
	font-size: 14px;
	line-height: 18px;
  font-weight: bold;
	text-transform: uppercase;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}


.signin {
	width: 34px;
  height: auto;
  margin-left: 34px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #7e296eea;
}

.main-content {
  width: 1000px;
  margin: 0 auto;
  padding: 0 55px;
  margin-bottom: 40px;
  background-color: #7e296eea;
}

h1 {
	font-weight: bold;
	font-size: 30px;
	line-height: 60px;
  text-align: center; 
  margin-bottom: 40px;
  text-decoration: underline;
  text-decoration-color: #492200;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-underline-position: under;
}

h2 {
  font-weight: bold;
	font-size: 30px;
	line-height: 60px;
  text-align: center; 
  margin-bottom: 40px;
  text-decoration: underline;
  text-decoration-color: #492200;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-underline-position: under;
}
.menu {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background-color: #7e7d7c;
}

.menu-cards {
  display: flex;
  justify-content: center;
  padding: 0;
	margin: 0;
	flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}

.menu-card {
	width: 225px;
	padding: 30px;
  padding-bottom: 10px;
	background-color: #a0a0a0;
	box-shadow: 0px 4px 30px rgba(22, 49, 82, 0.12);
}

.menu-card img {
  width: 190px;
  display: block;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.card-price {
  margin: 0;
  padding: 0;
}

.add-to-cart {
  background-color: #e397d7;
  padding: 10px;
  margin: 0;
}

.contacts {
	padding-bottom: 40px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.contacts-content {
	width: 400px;
	padding-top: 20px;
  padding-left: 10px;
  padding-right: auto;	
}

.contact-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contact-item {
  font-size: 16px;
  line-height: 22px;
	margin: 0;
	margin-bottom: 15px;
}

.contacts h2 {
  text-decoration: underline;
  text-decoration-color: #492200;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-underline-position: under;
  margin: 0;
  margin-bottom: 35px;
}

.contact-item h3 {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	margin: 0;
	display: inline;
	margin-right: 10px;
}

.contact-item address, a {
	font-style: normal;
	line-height: 22px;
	color: #ffffff;
	text-decoration: none;
}

.contacts-img {
	width: 700px;
}

.contact-item address {
  display: inline;
}

.contact-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.contact-item a:active {
  color: rgba(22, 49, 82, 0.3);
}

.social-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	margin-top: 15px;
	flex-wrap: wrap;
}

.social-item {
	margin-right: 15px;
}

.social-item a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #00C6BD;
}

.social-item a:hover {
  opacity: 0.5;
}

.social-item a:active {
  opacity: 0.3;
}